@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Overpass+Mono:wght@300&family=Roboto+Slab&family=Roboto:wght@500&family=Varela+Round&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Varela Round', sans-serif;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: rgb(30, 30, 30);
}
.title {
  text-align: center;
  font-size: 9vw;
  color: rgb(30, 30, 30);
  cursor: context-menu;
  margin-bottom: 70px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgb(255, 255, 255),
              0px 0px 2px rgb(255, 255, 255),
              0px 0px 3px rgb(255, 255, 255),
              0px 0px 4px rgb(255, 255, 255)
}
.choose {
  margin-bottom: 10rem;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background: rgb(60, 60, 60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 450px) {
  .choose {
    width: 350px;
  }
}
.mode-name {
  cursor: context-menu;
  color: white;
  text-transform: uppercase;
}
.start {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 18px;
  position: absolute;
  bottom: 5%;
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  background: none;
  transition: 0.3s;
}
.start:hover {
  color: rgb(60, 60, 60);
  background: white;
  letter-spacing: 5px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  bottom: 30px;
}
.choose div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.choose form div .select {
  width: 200px;
  height: 30px;
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.name-box {
  cursor: context-menu;
  align-self: flex-start;
  position: absolute;
  width: calc(200px - 30px);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: 0.3s;
  background: rgb(40, 40, 40);
}
.list {
  cursor: pointer;
  width: 30px;
  height: 30px;
  align-self: flex-end;
  background: white;
  transition: 0.3s;
}
.list ion-icon {
  color: rgb(60, 60, 60);
  transform: scale(1.3);
}
.list:hover {
  width: calc(30px + 30px);
}
.list:hover ~ .name-box {
  width: calc(calc(200px - 30px) - 30px);
}
.info {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  transform: scale(1.2);
}
.info:hover {
  color: rgb(70, 70, 70);
}

@keyframes Close {
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
@keyframes opacity {
  100% {
    opacity: 0;
  }
}
@keyframes LoadingAniamte {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.DigitalClock {
  position: absolute;
  top: 0;
  width: 15vw;
  height: 5vw;
  background: rgb(70, 70, 70);
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}
.DigitalClock div {
  width: 90%;
  height: 80%;
  background: rgb(50, 50, 50);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DigitalClock div p {
  letter-spacing: 3px;
}
@keyframes timebox {
  0% {
    transform: translateY(-5vw);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (max-width: 700px) {
  .DigitalClock {
    width: 25vw;
    height: 10vw;
    font-size: 5vw;
  }
}
@keyframes flicker {
  0% {
    color: red;
  }
  30% {
    color: red;
  }
  100% {
    color: white;
  }
}


.guide {
  position: absolute;
  bottom: 10%;
}
@keyframes guideOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes guideOff {
  100% {
    opacity: 0;
  }
}