@keyframes wrongs {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
@keyframes true {
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
